// vuetify

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("./font/Poppins-Medium.ttf") format("truetype");
}

// sizing
@for $i from 1 through 150 {
  .height-#{$i} {
    height: 4px * $i;
  }
  .width-#{$i} {
    width: 4px * $i;
  }
}

:root {
  --toastify-color-error: #ff6666 !important;
  --toastify-color-info: #3081e2 !important;
  --toastify-color-success: #34c77b !important;
  --toastify-color-warning: #ffd700 !important;
  --toastify-font-family: "Roboto" !important;
  --toastify-text-color-info: white !important;
  --toastify-text-color-success: #333333 !important;
  --toastify-text-color-warning: #333333 !important;
  --toastify-text-color-error: #333333 !important;
}

// cursor
.pointer {
  &:hover {
    cursor: pointer;
  }
  &--link {
    &:hover {
      color: #917800;
      text-decoration: underline;
    }
  }
}

//image
.img:hover {
  opacity: 0.8;
}

// scroll bar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}
